<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="indirect_refines_pilot"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.1.76"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="95"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value="IndC_Init"/>
    <stringAttribute key="modelBehaviorNext" value="IndC_Next"/>
    <stringAttribute key="modelBehaviorSpec" value=""/>
    <intAttribute key="modelBehaviorSpecType" value="2"/>
    <stringAttribute key="modelBehaviorVars" value="msgs, DS_state, repo_policy_base, DC_state, temporary_policy_memory, R_state, policy_base, received_data"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
    <listAttribute key="modelCorrectnessInvariants"/>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="1SimplePilotSpec"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="0"/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="Policies;;{&quot;p1&quot;,&quot;p2&quot;,&quot;p3&quot;};0;0"/>
        <listEntry value="DSs;;{&quot;ds1&quot;};0;0"/>
        <listEntry value="DCs;;{&quot;dc1&quot;,&quot;dc2&quot;};0;0"/>
        <listEntry value="poPolicies;;{&lt;&lt;p,p&gt;&gt; : p \in Policies} \cup {&lt;&lt;&quot;p1&quot;,&quot;p2&quot;&gt;&gt;};0;0"/>
        <listEntry value="Devices;;DSs \cup DCs;0;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="4"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="ref_indirect_pilot"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
